body {
			margin: 0;
			padding: 0;
		}
		
		.nav {
			background: #936285;
			height: 40px;
		}
		
		.context {
			
			text-align:center;
     		font: 22px Arial, Helvetica, sans-serif;
			
			text-align: center;
			margin:0 auto;
     		background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 96%, #a1dbff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(96%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #f0f9ff 0%,#cbebff 96%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #f0f9ff 0%,#cbebff 96%,#a1dbff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #f0f9ff 0%,#cbebff 96%,#a1dbff 100%); /* IE10+ */
     		background: linear-gradient(top, #f0f9ff 0%,#cbebff 96%,#a1dbff 100%); /* W3C */

			
     		width: 500px;
     		
     		border: 1px solid black;
     		border-radius: 15px;
     		padding: 20px;
		}
		
		.nav a {
			color: white;
			padding: 5px;
			font-size: 20px;
			top: 10px;
			position: relative;
		}
		LABEL {
     		width: 45%;
     		float: left;
     		text-align: right;
     	}
		INPUT {
     		background: -moz-linear-gradient(top, #bfe8f9 1%, #ffffff 20%, #ffffff 80%, #bfe8f9 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#bfe8f9), color-stop(20%,#ffffff), color-stop(80%,#ffffff), color-stop(100%,#bfe8f9)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #bfe8f9 1%,#ffffff 20%,#ffffff 80%,#bfe8f9 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #bfe8f9 1%,#ffffff 20%,#ffffff 80%,#bfe8f9 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #bfe8f9 1%,#ffffff 20%,#ffffff 80%,#bfe8f9 100%); /* IE10+ */
			background: linear-gradient(top, #bfe8f9 1%,#ffffff 20%,#ffffff 80%,#bfe8f9 100%); /* W3C */
     		
     		font-size: 100%;
     		border-radius: 10px;
     		
     		

     	}
     	
     	.button {
     		
     		display: inline-block;
			outline: none;
			cursor: pointer;
			text-align: center;
			text-decoration: none;
			font: 100% Arial, Helvetica, sans-serif;
			padding: .5em 2em .55em;
			text-shadow: 0 1px 1px rgba(0,0,0,.3);
			-webkit-border-radius: .5em; 
			-moz-border-radius: .5em;
			border-radius: .5em;
			-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
			-moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
			box-shadow: 0 1px 2px rgba(0,0,0,.2);
			color: #fef4e9;
			border: solid 1px #da7c0c;
			background: #f78d1d;
			background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
			background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
		}
		.button:hover {
			text-decoration: none;
			background: #f47c20;
			background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
			background: -moz-linear-gradient(top,  #f88e11,  #f06015);
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
		}
		.button:active {
			position: relative;
			top: 1px;
			color: #fcd3a5;
			background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
			background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
		}